# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Create a District Summary

In [113]:
# Total number of schools
total_schools = school_data['school_name'].count()
total_schools

39170

In [81]:
# Total number of students
total_students = school_data_complete['Student ID'].count()
print(f"There are {total_students} in total")

There are 39170 in total

In [82]:
# Total budget
total_budget = sum(school_data['budget'])
print(f"The total budget is ${total_budget}")

The total budget is $24649428

In [83]:
#Average math score
math_average=np.mean(school_data_complete['math_score'])
math_average

78.98537145774827

In [84]:
# Average reading score
reading_average=np.mean(school_data_complete['reading_score'])
reading_average

81.87784018381414

In [85]:
# Overall average score
overall_average =(reading_average + math_average)/2
overall_average

80.43160582078121

In [86]:
# Percentage of passing math (70 or greater)
math_pass=0
for i in range(len(school_data_complete)):
    if school_data_complete['math_score'][i] >=70:
        math_pass=math_pass+1
math_percentage=math_pass/len(school_data_complete)
print(f"The percentage of passing math is {100*math_percentage} %")

The percentage of passing math is 74.9808526933878 %

In [87]:
# Percentage of passing reading (70 or greater)
reading_pass=0
for i in range(len(school_data_complete)):
    if school_data_complete['reading_score'][i] >=70:
        reading_pass=reading_pass+1
reading_percentage=reading_pass/len(school_data_complete)
print(f"The percentage of passing reading is {100*reading_percentage} %")

The percentage of passing reading is 85.80546336482001 %

In [103]:
#load data into a DataFrame object:
data = {
    "Average_score": [math_average,reading_average],
    "Passing_percentage" : [math_percentage,reading_percentage],
}
df = pd.DataFrame(data,index=["Math","Reading"])
print(df)

         Average_score  Passing_percentage
Math         78.985371            0.749809
Reading      81.877840            0.858055

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [176]:
#School Type
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [109]:
#  School Name with Total Students
student_per_school = school_data_complete['school_name'].value_counts()
student_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [104]:
# Calculate total school budget
budget_per_school = school_data.groupby('school_name')['budget'].sum()
budget_per_school.sort_values(ascending = False)

school_name
Bailey High School       3124928
Johnson High School      3094650
Hernandez High School    3022020
Rodriguez High School    2547363
Huang High School        1910635
Figueroa High School     1884411
Ford High School         1763916
Wilson High School       1319574
Cabrera High School      1081356
Shelton High School      1056600
Wright High School       1049400
Thomas High School       1043130
Griffin High School       917500
Pena High School          585858
Holden High School        248087
Name: budget, dtype: int64

In [111]:
# Calculate per student budget
per_student_budget=school_data.groupby('school_name')['budget'].sum()/school_data_complete['school_name'].value_counts()
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [169]:
# Cacluate the avg math and reading score
#Average math score in each school
school_math_average=school_data_complete.groupby('school_name')['math_score'].mean()
school_math_average.sort_values(ascending = False)

school_name
Pena High School         83.839917
Holden High School       83.803279
Wright High School       83.682222
Thomas High School       83.418349
Shelton High School      83.359455
Griffin High School      83.351499
Wilson High School       83.274201
Cabrera High School      83.061895
Hernandez High School    77.289752
Ford High School         77.102592
Johnson High School      77.072464
Bailey High School       77.048432
Rodriguez High School    76.842711
Figueroa High School     76.711767
Huang High School        76.629414
Name: math_score, dtype: float64

In [170]:
# Cacluate the avg math and reading score
#Average reading score in each school
school_reading_average=school_data_complete.groupby('school_name')['reading_score'].mean()
school_reading_average.sort_values(ascending = False)

school_name
Pena High School         84.044699
Wilson High School       83.989488
Cabrera High School      83.975780
Wright High School       83.955000
Thomas High School       83.848930
Griffin High School      83.816757
Holden High School       83.814988
Shelton High School      83.725724
Huang High School        81.182722
Figueroa High School     81.158020
Bailey High School       81.033963
Johnson High School      80.966394
Hernandez High School    80.934412
Ford High School         80.746258
Rodriguez High School    80.744686
Name: reading_score, dtype: float64

#### Find the passing rate for math and reading (above 70 points)

In [137]:
# Find the total counts of math result
# % Passing Math
school_math_passing = school_data_complete[school_data_complete['math_score']>=70]
# Find the counts for math result in each school that pass 70 or higher
school_math_count=school_math_passing.groupby('school_name')['student_name'].count()
# Calculate the math passing rate
math_passing_rate=school_math_count/student_per_school*100
math_passing_rate.sort_values(ascending=False)

Pena High School         94.594595
Cabrera High School      94.133477
Wilson High School       93.867718
Shelton High School      93.867121
Griffin High School      93.392371
Wright High School       93.333333
Thomas High School       93.272171
Holden High School       92.505855
Ford High School         68.309602
Hernandez High School    66.752967
Bailey High School       66.680064
Rodriguez High School    66.366592
Johnson High School      66.057551
Figueroa High School     65.988471
Huang High School        65.683922
dtype: float64

In [138]:
# Find the total counts of read result
# % Passing Reading
school_reading_passing = school_data_complete[school_data_complete['reading_score']>=70]
# Find the counts for read result in each school that pass 70 or higher
school_reading_count=school_reading_passing.groupby('school_name')['student_name'].count()
# Calculate the read passing rate
reading_passing_rate=school_reading_count/student_per_school*100
reading_passing_rate.sort_values(ascending=False)

Thomas High School       97.308869
Griffin High School      97.138965
Cabrera High School      97.039828
Wright High School       96.611111
Wilson High School       96.539641
Holden High School       96.252927
Pena High School         95.945946
Shelton High School      95.854628
Bailey High School       81.933280
Huang High School        81.316421
Johnson High School      81.222432
Hernandez High School    80.862999
Figueroa High School     80.739234
Rodriguez High School    80.220055
Ford High School         79.299014
dtype: float64

In [139]:
# Calculate the overall passing rate (average of the math and reading passing rate)
overall_passing_rate=(math_passing_rate+reading_passing_rate)/2
overall_passing_rate.sort_values(ascending=False).head(5) #take the top 5 of overall passing rate schools

Cabrera High School    95.586652
Thomas High School     95.290520
Pena High School       95.270270
Griffin High School    95.265668
Wilson High School     95.203679
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [142]:
#  Sort and display the worst five schools in overall passing rate
overall_passing_rate.sort_values(ascending=True).head(5) #take the bottom 5 of overall passing rate schools

Rodriguez High School    73.293323
Figueroa High School     73.363852
Huang High School        73.500171
Johnson High School      73.639992
Ford High School         73.804308
dtype: float64

In [210]:
#Create a dataframe to hold the above results
summary= pd.DataFrame({"total students":total_students,
                        "school type": school_type,
                        "budget per school": budget_per_school,
                        "budget per student": per_student_budget,
                        "average math score": school_math_average,
                        "average reading score": school_reading_average,
                        "Math passing rate": math_passing_rate,
                        "Reading passing rate": reading_passing_rate, 
                        "Overall passing rate": overall_passing_rate
                          })
summary.reset_index()

,index,total students,school type,budget per school,budget per student,average math score,average reading score,Math passing rate,Reading passing rate,Overall passing rate
0,Bailey High School,39170,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,39170,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,39170,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,39170,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,39170,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,39170,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,39170,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,39170,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,39170,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,39170,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,39170,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,39170,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,39170,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,39170,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,39170,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [143]:
# Create table that lists the average math score for each school of each grade level.
school_data_complete.groupby(['grade', 'school_name'])['math_score'].mean()

grade  school_name
10th   Bailey High School       76.996772
       Cabrera High School      83.154506
       Figueroa High School     76.539974
       Ford High School         77.672316
       Griffin High School      84.229064
       Hernandez High School    77.337408
       Holden High School       83.429825
       Huang High School        75.908735
       Johnson High School      76.691117
       Pena High School         83.372000
       Rodriguez High School    76.612500
       Shelton High School      82.917411
       Thomas High School       83.087886
       Wilson High School       83.724422
       Wright High School       84.010288
11th   Bailey High School       77.515588
       Cabrera High School      82.765560
       Figueroa High School     76.884344
       Ford High School         76.918058
       Griffin High School      83.842105
       Hernandez High School    77.136029
       Holden High School       85.000000
       Huang High School        76.446602
       Johnson High School      77.491653
       Pena High School         84.328125
       Rodriguez High School    76.395626
       Shelton High School      83.383495
       Thomas High School       83.498795
       Wilson High School       83.195326
       Wright High School       83.836782
12th   Bailey High School       76.492218
       Cabrera High School      83.277487
       Figueroa High School     77.151369
       Ford High School         76.179963
       Griffin High School      83.356164
       Hernandez High School    77.186567
       Holden High School       82.855422
       Huang High School        77.225641
       Johnson High School      76.863248
       Pena High School         84.121547
       Rodriguez High School    77.690748
       Shelton High School      83.778976
       Thomas High School       83.497041
       Wilson High School       83.035794
       Wright High School       83.644986
9th    Bailey High School       77.083676
       Cabrera High School      83.094697
       Figueroa High School     76.403037
       Ford High School         77.361345
       Griffin High School      82.044010
       Hernandez High School    77.438495
       Holden High School       83.787402
       Huang High School        77.027251
       Johnson High School      77.187857
       Pena High School         83.625455
       Rodriguez High School    76.859966
       Shelton High School      83.420755
       Thomas High School       83.590022
       Wilson High School       83.085578
       Wright High School       83.264706
Name: math_score, dtype: float64

In [146]:
# Calculate the average math score for 9th grade in each school
math_grade9 = school_data_complete[school_data_complete['grade'] == '9th']
average_math_grade9 = math_grade9.groupby('school_name')['math_score'].mean()
average_math_grade9.sort_values(ascending = False )

school_name
Holden High School       83.787402
Pena High School         83.625455
Thomas High School       83.590022
Shelton High School      83.420755
Wright High School       83.264706
Cabrera High School      83.094697
Wilson High School       83.085578
Griffin High School      82.044010
Hernandez High School    77.438495
Ford High School         77.361345
Johnson High School      77.187857
Bailey High School       77.083676
Huang High School        77.027251
Rodriguez High School    76.859966
Figueroa High School     76.403037
Name: math_score, dtype: float64

In [147]:
# Calculate the average math score for 10th grade in each school
math_grade10 = school_data_complete[school_data_complete['grade'] == '10th']
average_math_grade10 = math_grade10.groupby('school_name')['math_score'].mean()
average_math_grade10.sort_values(ascending = False )

school_name
Griffin High School      84.229064
Wright High School       84.010288
Wilson High School       83.724422
Holden High School       83.429825
Pena High School         83.372000
Cabrera High School      83.154506
Thomas High School       83.087886
Shelton High School      82.917411
Ford High School         77.672316
Hernandez High School    77.337408
Bailey High School       76.996772
Johnson High School      76.691117
Rodriguez High School    76.612500
Figueroa High School     76.539974
Huang High School        75.908735
Name: math_score, dtype: float64

In [148]:
# Calculate the average math score for 11th grade in each school
math_grade11 = school_data_complete[school_data_complete['grade'] == '11th']
average_math_grade11 = math_grade11.groupby('school_name')['math_score'].mean()
average_math_grade11.sort_values(ascending = False )

school_name
Holden High School       85.000000
Pena High School         84.328125
Griffin High School      83.842105
Wright High School       83.836782
Thomas High School       83.498795
Shelton High School      83.383495
Wilson High School       83.195326
Cabrera High School      82.765560
Bailey High School       77.515588
Johnson High School      77.491653
Hernandez High School    77.136029
Ford High School         76.918058
Figueroa High School     76.884344
Huang High School        76.446602
Rodriguez High School    76.395626
Name: math_score, dtype: float64

In [149]:
# Calculate the average math score for 12th grade in each school
math_grade12 = school_data_complete[school_data_complete['grade'] == '12th']
average_math_grade12 = math_grade12.groupby('school_name')['math_score'].mean()
average_math_grade12.sort_values(ascending = False )

school_name
Pena High School         84.121547
Shelton High School      83.778976
Wright High School       83.644986
Thomas High School       83.497041
Griffin High School      83.356164
Cabrera High School      83.277487
Wilson High School       83.035794
Holden High School       82.855422
Rodriguez High School    77.690748
Huang High School        77.225641
Hernandez High School    77.186567
Figueroa High School     77.151369
Johnson High School      76.863248
Bailey High School       76.492218
Ford High School         76.179963
Name: math_score, dtype: float64

In [161]:
#Combine the series into a dataframe
math_grade = pd.DataFrame({"9th grade": average_math_grade9,
                          "10th grade": average_math_grade10, 
                          "11th grade": average_math_grade11,
                          "12th grade": average_math_grade12})
math_grade.reset_index()

              school_name  9th grade  10th grade  11th grade  12th grade
0      Bailey High School  77.083676   76.996772   77.515588   76.492218
1     Cabrera High School  83.094697   83.154506   82.765560   83.277487
2    Figueroa High School  76.403037   76.539974   76.884344   77.151369
3        Ford High School  77.361345   77.672316   76.918058   76.179963
4     Griffin High School  82.044010   84.229064   83.842105   83.356164
5   Hernandez High School  77.438495   77.337408   77.136029   77.186567
6      Holden High School  83.787402   83.429825   85.000000   82.855422
7       Huang High School  77.027251   75.908735   76.446602   77.225641
8     Johnson High School  77.187857   76.691117   77.491653   76.863248
9        Pena High School  83.625455   83.372000   84.328125   84.121547
10  Rodriguez High School  76.859966   76.612500   76.395626   77.690748
11    Shelton High School  83.420755   82.917411   83.383495   83.778976
12     Thomas High School  83.590022   83.087886   83.498795   83.497041
13     Wilson High School  83.085578   83.724422   83.195326   83.035794
14     Wright High School  83.264706   84.010288   83.836782   83.644986

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [150]:
# Create table that lists the average reading score for each school of each grade level.
school_data_complete.groupby(['grade', 'school_name'])['reading_score'].mean()

grade  school_name
10th   Bailey High School       80.907183
       Cabrera High School      84.253219
       Figueroa High School     81.408912
       Ford High School         81.262712
       Griffin High School      83.706897
       Hernandez High School    80.660147
       Holden High School       83.324561
       Huang High School        81.512386
       Johnson High School      80.773431
       Pena High School         83.612000
       Rodriguez High School    80.629808
       Shelton High School      83.441964
       Thomas High School       84.254157
       Wilson High School       84.021452
       Wright High School       83.812757
11th   Bailey High School       80.945643
       Cabrera High School      83.788382
       Figueroa High School     80.640339
       Ford High School         80.403642
       Griffin High School      84.288089
       Hernandez High School    81.396140
       Holden High School       83.815534
       Huang High School        81.417476
       Johnson High School      80.616027
       Pena High School         84.335938
       Rodriguez High School    80.864811
       Shelton High School      84.373786
       Thomas High School       83.585542
       Wilson High School       83.764608
       Wright High School       84.156322
12th   Bailey High School       80.912451
       Cabrera High School      84.287958
       Figueroa High School     81.384863
       Ford High School         80.662338
       Griffin High School      84.013699
       Hernandez High School    80.857143
       Holden High School       84.698795
       Huang High School        80.305983
       Johnson High School      81.227564
       Pena High School         84.591160
       Rodriguez High School    80.376426
       Shelton High School      82.781671
       Thomas High School       83.831361
       Wilson High School       84.317673
       Wright High School       84.073171
9th    Bailey High School       81.303155
       Cabrera High School      83.676136
       Figueroa High School     81.198598
       Ford High School         80.632653
       Griffin High School      83.369193
       Hernandez High School    80.866860
       Holden High School       83.677165
       Huang High School        81.290284
       Johnson High School      81.260714
       Pena High School         83.807273
       Rodriguez High School    80.993127
       Shelton High School      84.122642
       Thomas High School       83.728850
       Wilson High School       83.939778
       Wright High School       83.833333
Name: reading_score, dtype: float64

In [151]:
# Calculate the average reading score for 9th grade in each school
reading_grade9 = school_data_complete[school_data_complete['grade'] == '9th']
average_reading_grade9 = reading_grade9.groupby('school_name')['reading_score'].mean()
average_reading_grade9.sort_values(ascending = False )

school_name
Shelton High School      84.122642
Wilson High School       83.939778
Wright High School       83.833333
Pena High School         83.807273
Thomas High School       83.728850
Holden High School       83.677165
Cabrera High School      83.676136
Griffin High School      83.369193
Bailey High School       81.303155
Huang High School        81.290284
Johnson High School      81.260714
Figueroa High School     81.198598
Rodriguez High School    80.993127
Hernandez High School    80.866860
Ford High School         80.632653
Name: reading_score, dtype: float64

In [152]:
# Calculate the average reading score for 10th grade in each school
reading_grade10 = school_data_complete[school_data_complete['grade'] == '10th']
average_reading_grade10 = reading_grade10.groupby('school_name')['reading_score'].mean()
average_reading_grade10.sort_values(ascending = False )

school_name
Thomas High School       84.254157
Cabrera High School      84.253219
Wilson High School       84.021452
Wright High School       83.812757
Griffin High School      83.706897
Pena High School         83.612000
Shelton High School      83.441964
Holden High School       83.324561
Huang High School        81.512386
Figueroa High School     81.408912
Ford High School         81.262712
Bailey High School       80.907183
Johnson High School      80.773431
Hernandez High School    80.660147
Rodriguez High School    80.629808
Name: reading_score, dtype: float64

In [153]:
# Calculate the average reading score for 11th grade in each school
reading_grade11 = school_data_complete[school_data_complete['grade'] == '11th']
average_reading_grade11 = reading_grade11.groupby('school_name')['reading_score'].mean()
average_reading_grade11.sort_values(ascending = False )

school_name
Shelton High School      84.373786
Pena High School         84.335938
Griffin High School      84.288089
Wright High School       84.156322
Holden High School       83.815534
Cabrera High School      83.788382
Wilson High School       83.764608
Thomas High School       83.585542
Huang High School        81.417476
Hernandez High School    81.396140
Bailey High School       80.945643
Rodriguez High School    80.864811
Figueroa High School     80.640339
Johnson High School      80.616027
Ford High School         80.403642
Name: reading_score, dtype: float64

In [154]:
# Calculate the average reading score for 12th grade in each school
reading_grade12 = school_data_complete[school_data_complete['grade'] == '12th']
average_reading_grade12 = reading_grade12.groupby('school_name')['reading_score'].mean()
average_reading_grade12.sort_values(ascending = False )

school_name
Holden High School       84.698795
Pena High School         84.591160
Wilson High School       84.317673
Cabrera High School      84.287958
Wright High School       84.073171
Griffin High School      84.013699
Thomas High School       83.831361
Shelton High School      82.781671
Figueroa High School     81.384863
Johnson High School      81.227564
Bailey High School       80.912451
Hernandez High School    80.857143
Ford High School         80.662338
Rodriguez High School    80.376426
Huang High School        80.305983
Name: reading_score, dtype: float64

In [160]:
#create a Data Frame
reading_grade = pd.DataFrame({"9th grade": average_reading_grade9,
                          "10th grade": average_reading_grade10, 
                          "11th grade": average_reading_grade11,
                          "12th grade": average_reading_grade12})
reading_grade.reset_index()

              school_name  9th grade  10th grade  11th grade  12th grade
0      Bailey High School  81.303155   80.907183   80.945643   80.912451
1     Cabrera High School  83.676136   84.253219   83.788382   84.287958
2    Figueroa High School  81.198598   81.408912   80.640339   81.384863
3        Ford High School  80.632653   81.262712   80.403642   80.662338
4     Griffin High School  83.369193   83.706897   84.288089   84.013699
5   Hernandez High School  80.866860   80.660147   81.396140   80.857143
6      Holden High School  83.677165   83.324561   83.815534   84.698795
7       Huang High School  81.290284   81.512386   81.417476   80.305983
8     Johnson High School  81.260714   80.773431   80.616027   81.227564
9        Pena High School  83.807273   83.612000   84.335938   84.591160
10  Rodriguez High School  80.993127   80.629808   80.864811   80.376426
11    Shelton High School  84.122642   83.441964   84.373786   82.781671
12     Thomas High School  83.728850   84.254157   83.585542   83.831361
13     Wilson High School  83.939778   84.021452   83.764608   84.317673
14     Wright High School  83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [163]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [195]:
# Create a new column to show budget per student in each row
summary['budget per student']

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: budget per student, dtype: float64

In [211]:
# Create a new column to define the spending ranges per student
def spending_ranges(x):
    if x < 585 : 
        return group_names[0]
    elif x >= 585 and x < 615:
        return group_names[1]
    elif x >= 615 and x < 645: 
        return group_names[2]
    elif x >= 645 and x < 675:
        return group_names[3]
    else: 
        return group_names[4]
summary['spending ranges'] = summary['budget per student'].map(spending_ranges)
summary

,total students,school type,budget per school,budget per student,average math score,average reading score,Math passing rate,Reading passing rate,Overall passing rate,spending ranges
Bailey High School,39170,District,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Cabrera High School,39170,Charter,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,39170,District,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Ford High School,39170,District,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Griffin High School,39170,Charter,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Hernandez High School,39170,District,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,39170,Charter,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,39170,District,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,39170,District,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,39170,Charter,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Rodriguez High School,39170,District,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645
Shelton High School,39170,Charter,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Thomas High School,39170,Charter,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Wilson High School,39170,Charter,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,39170,Charter,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585

In [218]:
# Calculate the average math score within each spending range
summary.groupby('spending ranges')['average math score'].mean().sort_values(ascending=False)

spending ranges
$585-615    83.599686
<$585       83.455399
$615-645    79.079225
$645-675    76.997210
Name: average math score, dtype: float64

In [219]:
# Calculate the percentage passing rate for math in each spending range
summary.groupby('spending ranges')['Math passing rate'].mean().sort_values(ascending=False)

spending ranges
$585-615    94.230858
<$585       93.460096
$615-645    75.668212
$645-675    66.164813
Name: Math passing rate, dtype: float64

In [220]:
# Calculate the percentage passing rate for reading in each spending range
summary.groupby('spending ranges')['Reading passing rate'].mean().sort_values(ascending=False)

spending ranges
<$585       96.610877
$585-615    95.900287
$615-645    86.106569
$645-675    81.133951
Name: Reading passing rate, dtype: float64

In [221]:
# Calculate the percentage overall passing rate in each spending range
summary.groupby('spending ranges')['Overall passing rate'].mean().sort_values(ascending=False)

spending ranges
$585-615    95.065572
<$585       95.035486
$615-645    80.887391
$645-675    73.649382
Name: Overall passing rate, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [223]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [226]:
# Create a new column for the bin groups
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)
size = school_data_complete.groupby('size_bins')

Look for the total count of test scores that pass 70% or higher

In [228]:
# math_pass_size
math_passing_size = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
math_passing_size

size_bins
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: Student ID, dtype: float64

In [234]:
# read_pass_size
reading_passing_size = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()
reading_passing_size

size_bins
Small (<1000)         0.960403
Medium (1000-2000)    0.967731
Large (2000-5000)     0.821252
Name: Student ID, dtype: float64

In [235]:
# Calculate the overall passing rate for different school size
overall_passing_size = (math_passing_size+reading_passing_size)/2
overall_passing_size

size_bins
Small (<1000)         0.949964
Medium (1000-2000)    0.951948
Large (2000-5000)     0.753888
Name: Student ID, dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [260]:
# Create bins and groups, school type {'Charter', 'District'}
school_type = school_data_complete.groupby("type")

Find counts of the passing 70 or higher score for the both test

In [265]:
# math pass size
math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()
math

type
Charter     0.937018
District    0.665184
Name: Student ID, dtype: float64

In [266]:
# reading pass size
reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type['Student ID'].count()
reading

type
Charter     0.966459
District    0.809052
Name: Student ID, dtype: float64

In [267]:
# Calculate the overall passing rate
overall = (math+reading)/2
overall

type
Charter     0.951739
District    0.737118
Name: Student ID, dtype: float64

In [271]:
#data Frame
data = pd.DataFrame({
    'Passing Math Rate': math,
    'Passing Reading Rate': reading,
    "Overall Passing Rate": overall})
data

          Passing Math Rate  Passing Reading Rate  Overall Passing Rate
type
Charter            0.937018              0.966459              0.951739
District           0.665184              0.809052              0.737118